.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.separador {
  border-top: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px;
}
