.card {
  display: flex;
  flex-direction: column;
  background-color: #251f1f;
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow: 11px 11px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 11px 11px 15px 5px rgba(0, 0, 0, 0.2);
  background-color: #323232;
  transition: all 0.2s;
}
.card:hover {
  transform: scale(1.04);
}

.cardSelected{
  background-color: #de69e2;
}

.img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.infoTitulo {
  text-align: center;
}

.infoDescricao {
  font-size: 14px;
  color: #e0e0e0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px;
}

.footerValor {
  color: #ffffff;
  font-size: 24px;
}
