body{
    background-color: #181A1B;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

p{
    color: white;
    font-size: 14px;
}

button{
    border-radius: 50%;
    padding: 10px;
     border: solid 2px red; /*Optei por colocar a cor vermelha */
    margin-top: 20px;

}

h1.titulo{
    background-image: url(../img/fundo.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

img.padrao{
    width: auto;
    height: 100px;
    display: inline-block;
    padding: 50px;
}

footer{
    position: relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, pink, blue);
    
}

p.rodape{
    text-decoration: none;
    color: #241BF8;
}

.menu {
    overflow: hidden;
    background-image: linear-gradient(to right, pink, blue);
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  

  .menu a {
    float: right;
    display: block;
    color: #D7A2D3;
    text-align: left;
    padding: 30px 15px;
    text-decoration: none;
    transition: 0.3;
  }

  .menu img {
    float: left;
    display: block;
    padding: 10px 5px;
    height: auto;
    width: 200px;
  }
  

  .menu a:hover {
    background: #D7A2D3;
    color: #241BF8;
  }
  

  .conteudo {
    margin-top: 100px; 
  }


