body{
    background-color: #181A1B;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}



p{
    color: white;
    font-size: 14px;
}

button{
    border-radius: 50%;
    padding: 10px;
     border: solid 2px red; /*Optei por colocar a cor vermelha */
    margin-top: 20px;

}

img.padrao{
    width: auto;
    height: 100px;
    display: inline-block;
    padding: 50px;
}

h1.titulo{
    background-image: url(../img/fundo.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    
}